<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <title>Home page</title>
</head>
<body>
    <div class="container">
        <div class = "row">
            <div class ="col-md-6">
                <h1>stores</h1>

                {% if stores is not empty %}
                    <p>Here are all your stores:</p>
                    <ul>
                        {% for store in stores %}
                            <li><a href="/stores/{{ store.getStoreId }}">{{ store.getStoreName }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <!-- <a href="/stores">Add stores</a> -->
                <form action='/stores' method='post'>
                    <label for='store_name'>Store Name</label>
                    <input id='store_name' name='store_name' type='text'>

                    <button type='submit'>Add Store</button>
                </form>
            </div>

            <div class ="col-md-6">
                <h1>Brands</h1>
                {% if brands is not empty %}
                    <p>Here are all your Brands:</p>
                    <ul>
                        {% for brand in brands %}
                            <li><a href="/brands/{{ brand.getBrandId }}">{{ brand.getBrandName }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
                <!-- <a href="/brands">Add Brands</a> -->
                <form action='/brands' method='post'>
                <label for='brand_name'>Brand Name</label>
                <input id='brand_name' name='brand_name' type='text'>

                <button type='submit'>Add Brand</button>
            </form>

            </div>

        </div>

</div>
    </body>
</html>
